@import url("https://rsms.me/inter/inter.css");
@import url("https://rsms.me/res/fonts/iaw.css");

/* reset */
/** { font-family: inherit; line-height: inherit; font-synthesis: none; }*/
* { font-synthesis: none; }
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote,
body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt,
em, embed, fieldset, figcaption, figure, footer, form, grid, h1, h2, h3, h4, h5,
h6, header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, main,
mark, menu, nav, noscript, object, ol, output, p, pre, q, s, samp, section,
small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th,
thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a, a:active, a:visited { color: inherit; }
/* end of reset */

:root {
  --blue: #0088ff;
  --fontSize: 11px;
  --editorFontSize: var(--fontSize);
  --fontFamily: Inter;
  --editorFontFamily: 'iaw-quattro';
  --editorWidth: 420px;
  --toolbarHeight: 40px;
  --buttonHeight: 24px;
}
@supports (font-variation-settings: normal) { :root {
  --fontFamily: "Inter var";
  --editorFontFamily: 'iaw-quattro-var';
}}

body {
  background: transparent;
  color: #222;
  font: var(--fontSize)/1.4 var(--fontFamily), system-ui, -system-ui, sans-serif;
  overflow: hidden;
}

#editor {
  display: flex;
  flex-direction: column;
  /*border-right: 1px solid #ccc;*/
  width: var(--editorWidth);
  flex: 1 1 auto;
  position: fixed;
  left:0; top:0; bottom:0;
}

#editor .scroll-view {
  flex: 1 1 auto;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

#editor .code {
  flex: 1 1 auto;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

#editor .code .line-numbers {
  color: #ccc;
  text-align: right;
  flex: 0 0 auto;
  display: flex;
  white-space: pre;
  width: 32px;
  padding-left:8px;
  /*overflow: hidden;*/
  user-select:none; -webkit-user-select:none;
  cursor: default;
  /*pointer-events: none;*/
}

#editor .code textarea {
  flex: 1 1 auto;
  min-height:100px;
  margin:0;
  border: none;
  outline: none;
  padding-left: 4px;
  padding-right: 8px;
  resize: none;
  overflow-y: hidden;
}

#editor .code .line-numbers,
#editor .code textarea {
  font-family: var(--editorFontFamily);
  font-size: var(--editorFontSize);
  line-height: 1.4;
  padding-top: 8px;
  padding-bottom: 8px;
}

#editor .toolbar {
  flex: 0 0 auto;
  height: var(--toolbarHeight);
  box-shadow: 0 -1px 0 0 rgba(0,0,0,0.1);
  padding: 0 8px;
  display: flex;
  align-items: center;
  z-index: 1;
}

#editor .toolbar button {
  font: inherit;
  font-weight: 450;
  line-height: 1;
  box-sizing: border-box;
  height: var(--buttonHeight);
  padding: 0 8px;
  margin:0;
  /*border: 1px solid #ccc;*/
  border: none;
  background: none;
  background: rgba(0,0,0,0.1);
  letter-spacing:0.02em;
  border-radius: 5px;
  margin-left: 8px;
}
#editor .toolbar button:hover {
  background: rgba(0,0,0,0.2);
}
#editor .toolbar button:active {
  background: rgba(0,0,200,0.5);
}
#editor .toolbar button.disabled {
  display: none;
}
#editor .toolbar label {
  user-select:none; -webkit-user-select:none;
}
#editor .toolbar button[name="copy"] {
  width:73px; /* fixed size because we swap out label temporarily */
  padding:0;
}
#editor .toolbar .source {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
}
#editor .toolbar .source a {
  display: block;
  height: var(--buttonHeight);
  line-height: var(--buttonHeight);
  padding: 0 8px;
  text-decoration: none;
}
#editor .toolbar .source a:hover {
  text-decoration: underline;
}


#presentation {
  position: fixed;
  left: var(--editorWidth); top:0; bottom:0; right:0;
  /*background: white;*/
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-left: 1px solid rgba(0,0,0,0.1);
}

#presentation .graph {
  flex: 0 0 auto;
  display: flex;
  /*background-position: center;
  background-repeat: no-repeat;
  background-size: contain;*/
  padding: 32px;
  position: absolute;
  left:0; top:0; right:0; bottom:0;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

svg {
  flex: 1 1 auto;
  object-position: 50% 50%;
  object-fit: contain;
  width:100%;
  height:100%;
}
/*svg *[font-family="Times,serif"],*/
svg *[font-family="Arial,Inter"],
svg *[font-family="Courier,Inter"] {
  font-family: var(--fontFamily);
}

#presentation .error {
  --errorMsgHeight: 32px;
  --errorMsgBottomMargin: 16px;
  display: flex;
  align-items: center;
  height: var(--errorMsgHeight);
  z-index: 2;
  background-color: #FFE310;
  background-color: color(display-p3 1 0.87 0.05);
  color: black;
  padding: 0 12px;
  border-radius: 3px;
  margin-bottom: var(--errorMsgBottomMargin);
  font-family: var(--editorFontFamily);
  font-size: var(--editorFontSize);
  position: absolute; bottom:0;
  opacity: 0;
  pointer-events: none;
  transition: all 220ms ease-in-out;
  transform: translate(0, calc(var(--errorMsgHeight) + var(--errorMsgBottomMargin)));
}
#presentation.error .error {
  opacity: 1;
  pointer-events: all;
  transform: translate(0, 0);
  transition: all 30ms ease-out;
}



#update-dot {
  position: fixed;
  top:16px;
  left:calc(var(--editorWidth) + 16px);
  width:8px;
  height:8px;
  border-radius:8px;
  background: rgba(0,0,0,0.8);
  transition: opacity 100ms ease-out;
  opacity: 0;
  pointer-events: none;
  z-index:9;
}
#update-dot.visible {
  opacity: 1;
  transition: opacity 0ms ease-out;
}


@media only screen and (max-width: 800px) {
  :root {
    --editorWidth: 50vw;
  }
}


/* for window width <= 600 */
@media only screen and (max-width: 600px) {
  :root {
    --editorWidth: 100vw;
  }
  #editor {
    top: initial;
    height: calc(var(--winHeight) * 0.5);
    box-shadow: 0 -1px 0 0 rgba(0,0,0,0.1);
  }
  #presentation {
    left: 0; top: 0; right:0; bottom: initial;
    height: calc(var(--winHeight) * 0.5);
  }
}
